<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MGM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MigroGreens_Manager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body>
     <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MGM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Crops" asp-action="CropIndex">Crops</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Supplier" asp-action="SupplierIndex">Supplier</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="CustomerOrder" asp-action="CustomerOrderIndex">Customer Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GrowPlans" asp-action="GrowPlanIndex">Grow Plan</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Lighting" asp-action="LightIndex">Lights</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shelving" asp-action="ShelvingIndex">Shelving</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GrowMedias" asp-action="GrowMediaIndex">Grow Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Trays" asp-action="TrayIndex">Trays</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CostQty" asp-action="CostQtyIndex">Cost/Qty</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header> 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*  ******SIDEBAR MENU********* *@
    @*<div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-blue min-vh-100">
                <a href="/" class="d-flex align-items-right pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
               <span class="fs-5 d-none d-sm-inline"> MGM</span>
               </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link align-middle px-0 text-black">
                            <i class="fs-4 bi bi-house-door-fill"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                     <li>
                        <a asp-controller="Crops" asp-action="CropIndex" class="nav-link align-middle px-0 text-black">
                            <i class="bi bi-file-earmark-spreadsheet-fill"></i> <span class="ms-1 d-none d-sm-inline">Crop</span>
                        </a>
                    </li> 
                    <li>
                        <a asp-controller="Inventory" asp-action="InventoryIndex" class="nav-link align-middle px-0 text-black">
                            <i class="bi bi-bookmarks-fill"></i> <span class="ms-1 d-none d-sm-inline">Inventory</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Customer" asp-action="CustomerIndex" class="nav-link align-middle px-0 text-black">
                            <i class="bi bi-shop"></i> <span class="ms-1 d-none d-sm-inline">Customers</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="CustomerOrder" asp-action="CustomerOrderIndex" class="nav-link align-middle px-0 text-black">
                            <i class="bi bi-shop"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-black">
                            <i class="bi bi-calendar-week-fill"></i> <span class="ms-1 d-none d-sm-inline">Grow Plan</span>
                        </a>
                    </li> 
                     <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-black">
                            <i class="fs-4 bi bi-house-door-fill"></i> <span class="ms-1 d-none d-sm-inline">Blank</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-black">
                            <i class="fs-4 bi bi-house-door-fill"></i> <span class="ms-1 d-none d-sm-inline">Blank</span>
                        </a>
                    </li> 
                </ul>
                
            </div>

        </div>

    </div>*@
    

    <footer class="border-top footer bg-primary text-dark text-center">
        <div class="container">
            &copy; 2023 - <i class="bi bi-flower1"></i> MigroGreens Manager <a asp-area=""></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
