﻿
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MGM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MigroGreens_Manager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    @* <--Boxicons.com--> *@
    <link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>
</head>
<body>

    @* <header> *@

    @*  ******From YT Tutorial SIDEBAR MENU********* *@
    <div class="sidebar close">
        <div class="logo_details">
            <i class="bi bi-flower1"></i>
            <span class="logo_name">Microgreen Manager</span>
        </div>
        <ul class="nav-links">
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <i class="bi bi-speedometer"></i>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <i class="bi bi-speedometer"></i>
                    <span class="link_name">Purchased Inventory</span>
                </a>
            </li>
            

            <li>
                <div class="icon-link">
                    <a asp-controller="Customer" asp-action="CustomerIndex">
                        <i class="bi bi-person-lines-fill"></i>
                        <span class="link_name">Customers</span>
                    </a>

                </div>
            </li>

            <li>
                <div class="icon-link">
                    <a asp-controller="Supplier" asp-action="SupplierIndex">
                        <i class="bi bi-truck-flatbed"></i>
                        <span class="link_name">Suppliers</span>
                    </a>

                </div>
            </li>

            <li>
                <div class="icon-link">
                    <a asp-controller="CustomerOrder" asp-action="CustomerOrderIndex">
                        <i class="bi bi-shop"></i>
                        <span class="link_name">Customer Orders</span>
                    </a>

                </div>
            </li>

            <li>
                <div class="icon-link">
                    <a asp-controller="GrowPlans" asp-action="GrowPlanIndex">
                        <i class="bi bi-calendar-week-fill"></i>
                        <span class="link_name">Grow Plans</span>
                    </a>

                </div>
            </li>

                    @* *********SUB MENU*********** *@
            <li>
                <div class="icon-link">
                    <div class="logo_details">
                        <i class="bi bi-boxes"></i>
                        <span class="link_name">Inventory</span>
                        </a>
                        <i class="bi bi-chevron-compact-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Inventory Items</a></li>
                        <li>
                            <a asp-controller="Crops" asp-action="CropIndex">
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span class="link_name">Crop</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="GrowMedia" asp-action="GrowMediaIndex">
                                <i class="bi bi-globe-americas"></i>
                                <span class="link_name">Grow Media</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Lighting" asp-action="LightIndex">
                                <i class="bi bi-lamp-fill"></i>
                                <span class="link_name">Lighting</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Shelving" asp-action="ShelvingIndex">
                                <i class="bi bi-bookshelf"></i>
                                <span class="link_name">Shelving</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Trays" asp-action="TrayIndex">
                                <i class="bi bi-inbox-fill"></i>
                                <span class="link_name">Trays</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Package" asp-action="PackageIndex">
                                <i class="bi bi-box2-fill"></i>
                                <span class="link_name">Packages</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Inventory" asp-action="InventoryIndex">
                                <i class="bi bi-boxes"></i>
                                <span class="link_name">Total Inventory</span>
                            </a>
                        </li>
                    </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a asp-controller="CostQty" asp-action="CostQtyIndex">
                        <i class="bi bi-cash"></i>
                        <span class="link_name">Cost-Qty</span>
                    </a>

                </div>
            </li>
            <li>
                <div class="icon-link">
                   
                    <partial name="_LoginPartial" />
                    <div class="p-2 border rounded">
                        <div class="form-check form-switch" id="btnSwitch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Mode</label>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class="bi bi-menu-down"></i>
            <span class="text">Drop Down Sidebar</span>

        </div>
    </section>

    @* </header> *@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bi-menu-down");
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>

    <footer class="border-top footer bg-primary text-dark text-center">
        <div class="container">
            &copy; 2023 - <i class="bi bi-flower1"></i> MigroGreens Manager <a asp-area=""></a>
        </div>
    </footer>
    <script type="text/javascript">
        document.getElementById('btnSwitch').addEventListener('click', () => {
            if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
                document.documentElement.getAttribute('data-bs-theme', 'light')
            }
            else 
            { 
                document.documentElement.getAttribute('data-bs-theme', 'dark')
            }
        })   </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>